<h1 *ngIf="!isChange" mat-dialog-title>Adicionar</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Posição</mat-label>
    <input matInput [(ngModel)]="data.position">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Peso</mat-label>
    <input matInput [(ngModel)]="data.weight">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label >Símbolo</mat-label>
    <input color="" matInput [(ngModel)]="data.symbol">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button *ngIf="!isChange"  [mat-dialog-close]="data" cdkFocusInitial>Adicionar</button>
  <button mat-button *ngIf="isChange"  [mat-dialog-close]="data" cdkFocusInitial>Editar</button>
</div>